.footer1{
    background-color: rgb(8, 8, 37);
    ;

}

.footer-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding:80px ; 

}



.title-footer , .title-footer2 {
    color: rgb(249, 249, 249);
    font-size: 1.2em;
}


.footer-copy , .sentence , .contact , .mail ,  .localisation , .footer-li{
    color: rgb(144, 152, 173);
}

.telephone , .contact-mail , .contact-location {
    color: rgb(197, 131, 9);
}

.footer-li{
    list-style: none;
    margin-top: 0.8em;
    margin-right: 2em;


}

.foot{
    padding: 1em;


}
.foot2 {
    padding: 1em;

}


/* colorisation des puces */
.contact-icone::before {
    content: "•"; color: rgb(197, 143, 43) ;
}

.contact-icone::before {
    content: "•"; color: rgb(197, 133, 15);
    display: inline-block; width: 1em;
    margin-left: -1em
}
.help::before{
    content: "•"; color: rgb(197, 143, 43) ;
}

.help::before {
    content: "•"; color: rgb(197, 133, 15);
    display: inline-block; width: 1em;
    margin-left: -1em
}


/* positionnement de la mention copyright */
.contact-copyright{
    background-color: rgb(8, 8, 37);
    margin-top: -30px;
    padding: 16px;
    
}

.contact-phone , .localisation , .mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;    
}


.help{
    margin-right: 30px;
    padding-bottom: 1em;
    color: orange; 


}


.contact-icone {
    list-style-type : none;
    margin: 0;
}
.contact-icone , .fa-brands-fa-square-twitter , .fa-brands-fa-square-facebook , .fa-brands-fa-google , .fa-brands-fa-square-pinterest , .fa-brands-fa-square-instagram{

    display: table-cell;

}

.contact-icone{
    overflow:hidden;
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
    color: orange;
    height: 2em;
    padding-top: 15px; 
}




.footer-copy{
    margin-left: 66px;
}

.title-footer2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px ;
    margin-left: -22px;
}

.title-footer{
    
    padding:  8px ;

}

.sentence{
    padding: 8px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    padding: 8px ;
}

.contact-num {
    padding-left: 0.3em;
}

.lien:visited{
    color: rgb(144, 152, 173);
}
.lien2:visited{
    color: rgb(144, 152, 173);
}
.lien3:visited{
    color: rgb(144, 152, 173);
}

.lien , .lien2 , .lien3{

color: rgb(144, 152, 173);
text-decoration: none;


}

.lien:hover{
    color: orange;
}
.lien2:hover{
    color : orange
}
.lien3:hover{
    color: orange;
}
.contact-icone li {
    margin-right: 0.5em;
}

.link-social{
    color: orange;
    background-color: white;
    height: 1em;
    padding-bottom : 0.3em;
    padding-top: 0.3em;
    border-radius: 0.2em;
}


/* Interface mobile */
@media screen and (max-width : 480px) {

    .footer-display{
        
        width: 100%;
        margin-right: 3em;
        
    }

    .footer1{
        background-color: rgb(8, 8, 37);
        width: 100%;

    }
    .contact-num , .footer-li , .sentence , .contact{
        font-size: 0.5em;
        width: 100%;
    }
    .title-footer , .title-footer2 {
        font-size: 0,8em;
        width: 100%;
    }
    .foot{
        margin-left: -5em;
        
    }
    .contact-mail , .contact-phone  , .contact-localisation , .contact-copyright{
        
        font-size: 0.6em;

    }
    
    .contact-phone , .mail , .localisation{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 0.6em ;
    }
    

}
   


