.menunav {
    list-style:none;
    display: flex; 
    font-size: 0.7em;
}
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.menunav a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    color: white;
    margin: 0 5px;
    transition: all 0.5s;
}
.menunav a:hover {
    color:orange;
    border-top: solid orange 2px;
    border-radius: 10px;
}
.bouttonjouer{
    color: white;
    background-color: orange;
    font-size: 1em;
    width: 6em;
    height: 2.6em;
    border: none;
    border-radius: 3px;
    
}
a .bouttonjouer:hover{
    box-shadow: 10px 10px 10px rgb(152, 103, 11) inset;
    
}
.titredebannieres{
    color: white;
    font-size: 3em;
}
.titreacceuil{
    color: white;
    font-size: 1.3em;
}
.soustitre{
    padding: 1.2em;
    color: white;
    font-size: 1.2em;
}
.titreheader{
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banniere{
    background: url('../images/imagejeux.png') no-repeat center;
    background-size: cover;
    height: 20em;
}

/* BURGER */
.logged_in a{
  color: rgb(128, 231, 128);
  text-transform: uppercase;
}
@media (max-width: 680px){
/* Sidenav menu */
.sidenav {
    height: 50%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #5e944544;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
  }
}
  