h1{
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: 3rem;
}
.game{
    display: flex;
    justify-content: center;
}
.game_grid td{
    width: 6em;
    height: 6em;
    border: 1px black solid;
    background-color: rgb(156, 195, 193);
}
.game_grid{
    border-spacing: 1em;
    border-collapse: separate;
}