main{
    color: white;
}
.card-text{
    display: flex;
}
.card-text>p{
    font-size: 3em;
    color: rgb(39, 76, 179);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cards img{
    margin-left: 1em;
}
.stats_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats{
    margin-left: 1em;
    display: flex;
}
.stats div>div{
    height: 100px;
    width: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
.stats>div{
    width:50%;
}
#games_played{
    background-color: blue;
}
#players_online{
    background-color: green;
}
#best_time{
    background-color: purple;
}
#registered_players{
    background-color: orange;
}
.team_members_box{
    display: flex;
    justify-content: center;
}
.member img{
    border-radius: 50%;
}
.member p{
    text-align: center;
}
.team_section{
    text-align: center;
    margin-bottom: 3em;
}
.member {
    background-color: rgb(8, 8, 37);
    margin-left: 1em;
    padding: 1em 2em;
}
.member p:first-of-type{
    font-weight: bold;
}